In [18]:
import pandas as pd
import numpy as np 
from sklearn.preprocessing import StandardScaler

In [19]:
df1 = pd.read_csv(r'C:/Users/johd003/Documents/GitHub/data/title_stats.csv')
df2 = pd.read_csv(r'C:/Users/johd003/Documents/GitHub/data/title_labor_type_pivot.csv').fillna(0)
df = pd.merge(df1, df2, how = "inner", on = "Title")
df.head()

,Title,Pct_Req_Cnt,Avg_MaxRequestedHrlyRate,Median_MaxRequestedHrlyRate,Avg_to_Median_Rate,Pct_Client,Median_Avg_CT_Total,Avg_Avg_CT_Total,Avg_to_Median_CT,Avg_ReqDistributions_Mapped,...,LT-Accounting/Finance,LT-Admin/Clerical,LT-BusinessProfessional,LT-Call Center,LT-Engineering,LT-Healthcare,LT-InformationTechnology,LT-LightIndustrial,LT-NaturalResources,LT-Scientific
0,Project Manager,0.990,161,79,2.0,0.899,12,20,1.7,7,...,0.017,0.00,0.457,0.0,0.086,0.0,0.415,0.0,0.00,0.025
1,Administrative Assistant,0.980,211,25,8.5,0.910,12,19,1.6,7,...,0.000,1.00,0.000,0.0,0.000,0.0,0.000,0.0,0.00,0.000
2,Financial Analyst,0.849,72,44,1.6,0.708,17,24,1.4,8,...,1.000,0.00,0.000,0.0,0.000,0.0,0.000,0.0,0.00,0.000
3,Business/System Analyst,0.950,142,75,1.9,0.652,11,17,1.6,8,...,0.000,0.00,0.000,0.0,0.000,0.0,1.000,0.0,0.00,0.000
4,Project Coordinator,0.899,189,35,5.4,0.663,11,17,1.5,6,...,0.068,0.16,0.747,0.0,0.016,0.0,0.000,0.0,0.01,0.000

In [47]:
df.dtypes

Title                           object
Pct_Req_Cnt                    float64
Avg_MaxRequestedHrlyRate         int64
Median_MaxRequestedHrlyRate     object
Avg_to_Median_Rate             float64
Pct_Client                     float64
Median_Avg_CT_Total              int64
Avg_Avg_CT_Total                 int64
Avg_to_Median_CT               float64
Avg_ReqDistributions_Mapped      int64
Pct_Cities                     float64
LT-Accounting/Finance          float64
LT-Admin/Clerical              float64
LT-BusinessProfessional        float64
LT-Call Center                 float64
LT-Engineering                 float64
LT-Healthcare                  float64
LT-InformationTechnology       float64
LT-LightIndustrial             float64
LT-NaturalResources            float64
LT-Scientific                  float64
dtype: object

In [63]:
y = df.Title.values
x_df = df.iloc[:,1:df.shape[1]]
x_df.drop(x_df.columns[2], axis=1, inplace=True)
x = x_df.values
# Standardizing the features
#x = StandardScaler().fit_transform(x)

In [64]:
# Standardizing the features
x = StandardScaler().fit_transform(x)

In [68]:
x_df.describe()

,Pct_Req_Cnt,Avg_MaxRequestedHrlyRate,Avg_to_Median_Rate,Pct_Client,Median_Avg_CT_Total,Avg_Avg_CT_Total,Avg_to_Median_CT,Avg_ReqDistributions_Mapped,Pct_Cities,LT-Accounting/Finance,LT-Admin/Clerical,LT-BusinessProfessional,LT-Call Center,LT-Engineering,LT-Healthcare,LT-InformationTechnology,LT-LightIndustrial,LT-NaturalResources,LT-Scientific
count,100.000000,100.000000,93.000000,100.000000,100.000000,100.000000,99.000000,100.000000,100.000000,100.00000,100.000000,100.000000,100.000000,100.000000,100.000000,100.00000,100.000000,100.000000,100.000000
mean,0.500360,138.330000,3.510753,0.339360,13.210000,20.460000,1.682828,7.280000,0.073720,0.02660,0.081600,0.202330,0.020000,0.197940,0.030000,0.19774,0.131830,0.006840,0.105140
std,0.293113,175.675956,4.730325,0.180185,5.123318,6.871725,0.819412,4.501582,0.052933,0.15125,0.272655,0.391386,0.140705,0.388647,0.171447,0.39429,0.337685,0.035141,0.301251
min,0.000000,2.000000,0.600000,0.011000,0.000000,1.000000,1.100000,1.000000,0.001000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000
25%,0.250250,28.750000,1.100000,0.219250,10.000000,16.000000,1.300000,5.000000,0.047000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000
50%,0.500000,60.000000,1.800000,0.320500,12.500000,20.000000,1.500000,7.000000,0.064000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000
75%,0.750500,165.250000,3.600000,0.463750,16.250000,24.000000,1.700000,9.000000,0.087250,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000
max,1.000000,762.000000,29.900000,0.910000,31.000000,43.000000,8.500000,29.000000,0.396000,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,1.00000,1.000000,0.316000,1.000000

In [71]:
from sklearn.impute import SimpleImputer
imp = SimpleImputer(missing_values=np.nan, strategy='median')
x = imp.fit_transform(x)

In [72]:
from sklearn.decomposition import PCA
pca = PCA(n_components=2)
principalComponents = pca.fit_transform(x)
principalDf = pd.DataFrame(data = principalComponents
             , columns = ['principal component 1', 'principal component 2'])

In [73]:
principalDf.head()

   principal component 1  principal component 2
0               4.369821              -1.255137
1               6.161964              -1.425328
2               2.800176              -2.104450
3               2.493284              -0.319241
4               2.984070              -0.441793

In [75]:
principalDf.shape

(100, 2)

In [79]:
resultsdf.head()

,Title,Pct_Req_Cnt,Avg_MaxRequestedHrlyRate,Median_MaxRequestedHrlyRate,Avg_to_Median_Rate,Pct_Client,Median_Avg_CT_Total,Avg_Avg_CT_Total,Avg_to_Median_CT,Avg_ReqDistributions_Mapped,...,LT-BusinessProfessional,LT-Call Center,LT-Engineering,LT-Healthcare,LT-InformationTechnology,LT-LightIndustrial,LT-NaturalResources,LT-Scientific,principal component 1,principal component 2
0,Project Manager,0.990,161,79,2.0,0.899,12,20,1.7,7,...,0.457,0.0,0.086,0.0,0.415,0.0,0.00,0.025,4.369821,-1.255137
1,Administrative Assistant,0.980,211,25,8.5,0.910,12,19,1.6,7,...,0.000,0.0,0.000,0.0,0.000,0.0,0.00,0.000,6.161964,-1.425328
2,Financial Analyst,0.849,72,44,1.6,0.708,17,24,1.4,8,...,0.000,0.0,0.000,0.0,0.000,0.0,0.00,0.000,2.800176,-2.104450
3,Business/System Analyst,0.950,142,75,1.9,0.652,11,17,1.6,8,...,0.000,0.0,0.000,0.0,1.000,0.0,0.00,0.000,2.493284,-0.319241
4,Project Coordinator,0.899,189,35,5.4,0.663,11,17,1.5,6,...,0.747,0.0,0.016,0.0,0.000,0.0,0.01,0.000,2.984070,-0.441793

In [95]:
tx_cols = []
for col in x_df.columns:
    new_col = 'tx_'+col
    tx_cols.append(new_col)

tx_df = pd.DataFrame(x,columns = tx_cols)
tx_df.head()

,tx_Pct_Req_Cnt,tx_Avg_MaxRequestedHrlyRate,tx_Avg_to_Median_Rate,tx_Pct_Client,tx_Median_Avg_CT_Total,tx_Avg_Avg_CT_Total,tx_Avg_to_Median_CT,tx_Avg_ReqDistributions_Mapped,tx_Pct_Cities,tx_LT-Accounting/Finance,tx_LT-Admin/Clerical,tx_LT-BusinessProfessional,tx_LT-Call Center,tx_LT-Engineering,tx_LT-Healthcare,tx_LT-InformationTechnology,tx_LT-LightIndustrial,tx_LT-NaturalResources,tx_LT-Scientific
0,1.678897,0.129695,-0.321107,3.121567,-0.237365,-0.067278,0.021063,-0.062514,4.125522,-0.063791,-0.300787,0.653965,-0.142857,-0.289476,-0.175863,0.553792,-0.39236,-0.195626,-0.267364
1,1.644609,0.415743,1.060454,3.182923,-0.237365,-0.213535,-0.101597,-0.062514,6.119170,-0.176754,3.385326,-0.519562,-0.142857,-0.511871,-0.175863,-0.504036,-0.39236,-0.195626,-0.350769
2,1.195431,-0.379472,-0.406126,2.056205,0.743482,0.517750,-0.346916,0.160750,1.410364,6.468121,-0.300787,-0.519562,-0.142857,-0.511871,-0.175863,-0.504036,-0.39236,-0.195626,-0.350769
3,1.541744,0.020996,-0.342362,1.743847,-0.433534,-0.506049,-0.101597,0.160750,0.954673,-0.176754,-0.300787,-0.519562,-0.142857,-0.511871,-0.175863,2.044946,-0.39236,-0.195626,-0.350769
4,1.366873,0.289882,0.401555,1.805203,-0.433534,-0.506049,-0.224257,-0.285777,2.188836,0.275098,0.288991,1.398654,-0.142857,-0.470495,-0.175863,-0.504036,-0.39236,0.090377,-0.350769

In [96]:
resultsdf = pd.concat([df, principalDf,tx_df], axis = 1 )

In [100]:
resultsdf.to_csv(r'C:/Users/johd003/Documents/GitHub/data/title_pca_results.csv',index=False)