In [4]:
import numpy as np
import pandas as pd
import nltk

In [16]:
reqdf = pd.read_csv(r'C:\Users\johd003\Documents\GitHub\data\reqdata.csv')

In [12]:
nltk.download('stopwords')
nltk.download('punkt')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\johd003\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\johd003\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt.zip.

True

In [13]:
import sys
import codecs
import nltk
from nltk.corpus import stopwords

# NLTK's default German stopwords
default_stopwords = set(nltk.corpus.stopwords.words('english'))

In [17]:
reqdf.head()

,SRC_SYS_CD,waRequisition_ID,REQ_ID,CUST_ID,PYRL_SERV,Hiring_Mgr,CREAT_DT,APPR_DT,FIRST_DISTRB_DT,FIRST_RESPN_DT,...,SPCL_NON_SPCL,CRIT_POSN,MGR_RQST_BILL_RATE,PRIM_COST_CTR,DISTRO_LIST,BUS_UNIT_MAP_2,REQ_TYPE_FG,REQ_RSN_TYPE,EXP_LEVEL,Description
0,BL,EXXON10032-1 ...,10032-1,EXXON,NaN,"CHRBET, RODNEY",2018-04-12 00:00:00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SYNCRUDE TELECOMMUNICATIONS ANALYST 3 (MESHING...
1,BL,EXXON10037-1 ...,10037-1,EXXON,NaN,"SMITH, CRAIG",2018-04-13 00:00:00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,POSITION: SCRUM MASTER & APPLICATION CHANGE CO...
2,BL,EXXON10060-1 ...,10060-1,EXXON,NaN,"STAINES, MARIE",2018-04-16 00:00:00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,LITIGATION DATA ANALYST\n\n\nEXXON MOBIL CORPO...
3,BL,EXXON10390-1 ...,10390-1,EXXON,NaN,"SRITRAKOOL, SUWANNEE",2018-05-04 00:00:00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,IT SAP ABAP/JAVA DEVELOPER WITH EXPERIENCE IMP...
4,BL,EXXON10511-1 ...,10511-1,EXXON,NaN,"COBB, AARON",2018-05-12 00:00:00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,***DEVELOPER/DATA ANALYST ROLE***\n\nMAIN FUNC...

In [57]:
title_cnts = reqdf['Title'].value_counts().nlargest(15)
title_cnts.head(20)
title_cnts.shape

(15,)

In [71]:
title_cnts = pd.DataFrame(title_cnts)
df = reqdf[reqdf.Title.isin(title_cnts.index)]
print(df.shape)

(10228, 79)

In [76]:
jd = df['Description']
jd.head()

5     NTE $100 \n\n\n\nJOB DESCRIPTION:\n\tTHE DATA ...
6     JOB DESCRIPTION:\n\tTHE DATA PRACTICE WEB DEVE...
8     DESCRIPTION:  WORK AS PART OF A BUSINESS SYSTE...
23    MUST SPEAK VERY GOOD ENGLISH \n\nADDITIONAL SK...
44    IT SAP ABAP/JAVA DEVELOPER WITH EXPERIENCE IMP...
Name: Description, dtype: object

In [81]:
import re
def preprocess(x):
    x = re.sub('[^a-z\s]', '', x.lower())                  # get rid of noise
    x = [w for w in x.split() if w not in set(stopwords)]  # remove stopwords
    return ' '.join(x)                                     # join the list

In [82]:
df['jd_clean'] = df['Description'].apply(preprocess)

TypeError: 'WordListCorpusReader' object is not iterable

In [79]:
df.head()

,SRC_SYS_CD,waRequisition_ID,REQ_ID,CUST_ID,PYRL_SERV,Hiring_Mgr,CREAT_DT,APPR_DT,FIRST_DISTRB_DT,FIRST_RESPN_DT,...,SPCL_NON_SPCL,CRIT_POSN,MGR_RQST_BILL_RATE,PRIM_COST_CTR,DISTRO_LIST,BUS_UNIT_MAP_2,REQ_TYPE_FG,REQ_RSN_TYPE,EXP_LEVEL,Description
5,BL,EXXON10865-1 ...,10865-1,EXXON,NaN,"KELLEY, SUSAN",2018-06-04 00:00:00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NTE $100 \n\n\n\nJOB DESCRIPTION:\n\tTHE DATA ...
6,BL,EXXON10892-1 ...,10892-1,EXXON,NaN,"KELLEY, SUSAN",2018-06-05 00:00:00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,JOB DESCRIPTION:\n\tTHE DATA PRACTICE WEB DEVE...
8,BL,EXXON12450-1 ...,12450-1,EXXON,NaN,"LALONDE, GEORGE",2018-08-30 00:00:00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,DESCRIPTION: WORK AS PART OF A BUSINESS SYSTE...
23,BL,EXXON8148-1 ...,8148-1,EXXON,NaN,"FOWLER, WADE",2018-01-03 00:00:00,2018-01-03 00:00:00,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MUST SPEAK VERY GOOD ENGLISH \n\nADDITIONAL SK...
44,BL,EXXON9506-1 ...,9506-1,EXXON,NaN,"MAY, SUSAN",2018-03-14 00:00:00,2018-03-14 00:00:00,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,IT SAP ABAP/JAVA DEVELOPER WITH EXPERIENCE IMP...