In [68]:
import pickle
import sys
import os
import pandas as pd
import numpy as np
from sklearn.metrics import confusion_matrix
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import precision_recall_curve
# Dependencies
import pickle
import pandas as pd
import numpy as np
from sklearn.cluster import KMeans
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler
import seaborn as sns
import matplotlib.pyplot as plt
import nltk
import re
from sklearn.feature_extraction.text import TfidfVectorizer

In [2]:
reqdf = pd.read_csv(r'C:\Users\johd003\Documents\GitHub\data\reqdata.csv')

C:\Users\johd003\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (4,15,50) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
topn_titles = reqdf['Title'].value_counts().nlargest(15).index.astype(list)
topn_titles

Index(['Administrative Assistant', 'Project Manager', 'Assembly Worker',
       'Business/System Analyst', 'Developer', 'Data Entry Operator',
       'Systems/Software Engineer', 'IT Analyst', 'Recruiter',
       'Graphic Designer', 'Business Analyst', 'Manufacturing Technician',
       'Financial Analyst', 'Sales Manager', 'Design Validation Engineer'],
      dtype='object')

In [4]:
reqdf_topn_titles = reqdf[reqdf['Title'].isin(topn_titles)]
reqdf_topn_titles['Title'].head()

5                     Developer
6              Business Analyst
8                     Developer
23              Project Manager
44    Systems/Software Engineer
Name: Title, dtype: object

In [104]:
df = reqdf_topn_titles[['Title','Description']].dropna()
df.head()

,Title,Description
5,Developer,NTE $100 \n\n\n\nJOB DESCRIPTION:\n\tTHE DATA ...
6,Business Analyst,JOB DESCRIPTION:\n\tTHE DATA PRACTICE WEB DEVE...
8,Developer,DESCRIPTION: WORK AS PART OF A BUSINESS SYSTE...
23,Project Manager,MUST SPEAK VERY GOOD ENGLISH \n\nADDITIONAL SK...
44,Systems/Software Engineer,IT SAP ABAP/JAVA DEVELOPER WITH EXPERIENCE IMP...

In [69]:
from nltk.tokenize import sent_tokenize, word_tokenize
from nltk.corpus import stopwords
nltk.download('stopwords')
import nltk
from nltk.corpus import stopwords
stopWords = set(stopwords.words('english'))

ps = nltk.PorterStemmer()
#data = pd.read_csv("SMSSpamCollection.tsv", sep='\t')
#data.columns = ['label', 'body_text']

def count_punct(text):
    count = sum([1 for char in text if char in string.punctuation])
    return round(count/(len(text) - text.count(" ")), 3)*100

def clean_text(text):
    text = "".join([word.lower() for word in text if word not in string.punctuation])
    tokens = re.split('\W+', text)
    text = [ps.stem(word) for word in tokens if word not in stopWords]
    return text

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\johd003\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [ ]:
df['jd_prepped'] = df['Description'].apply(clean_text)

In [ ]:
df['jd_prepped'].head()

In [ ]:
#inspect the first row of df.jd_prepped
df.jd_prepped.iloc[0]

In [ ]:
#initialize all words with first record
all_words = pd.Series(df.jd_prepped.iloc[0])
#loop through and append with rest of the records
for i in range(1,df.shape[0]):
    s = pd.Series(df.jd_prepped.iloc[i])
    all_words = all_words.append(s,ignore_index=True)

In [ ]:
nwords = len(all_words)
print("There are {} uniqe words in the dataframe".format(nwords))

In [25]:
##create a word frequency dataframe
from collections import defaultdict
import pandas as pd

word_freq = defaultdict(int)

for text in all_words:
    for word in text.split():
        word_freq[word] += 1

word_freq_df = pd.DataFrame.from_dict(word_freq, orient='index') \
.sort_values(0, ascending=False) \
.rename(columns={0: 'abs_freq'})

word_freq_df.head()

            abs_freq
required        8759
work            7980
team            5762
experience      5478
skills          4833

In [ ]:
df.head()

In [22]:
##new function that removes numbers, DOES NOT STEM, and removes stop words
def clean_text_no_stem(text):
    # split into words
    lc = text.lower()
    tokens = word_tokenize(lc)
    # remove all tokens that are not alphabetic
    words = [word for word in tokens if word.isalpha()]
    words = [word for word in words if word not in stopWords]
    #words = [word for word in words if word not in commonWords]
    return words

In [9]:
commonWords = []

In [23]:
df['jd_tokened'] = df['Description'].apply(clean_text_no_stem)
df['jd_tokened'].head(15)

5      [nte, job, description, data, quality, dq, vis...
6      [job, description, data, practice, web, develo...
8      [description, work, part, business, system, su...
23     [must, speak, good, english, additional, skill...
44     [sap, developer, experience, implementing, sol...
45     [test, lead, testing, enterprise, services, te...
46     [job, responsibilities, reset, passwords, user...
49     [job, description, enterprise, monitoring, res...
54     [supprot, role, analysts, part, global, team, ...
55     [work, various, internal, groups, backend, con...
77     [manages, one, projects, within, constraints, ...
105    [capable, test, preparation, test, data, manag...
107                        [stabilization, uat, support]
121    [data, interview, ot, responsibilities, estima...
130    [assume, overall, qa, responsibility, along, o...
Name: jd_tokened, dtype: object

In [11]:
#initalize all words
all_words = pd.Series(df.jd_tokened.iloc[0])
#loop through and append
for i in range(1,df.shape[0]):
    s = pd.Series(df.jd_tokened.iloc[i])
    all_words = all_words.append(s,ignore_index=True)

In [13]:
##create a word frequency dataframe
from collections import defaultdict
import pandas as pd
word_freq = defaultdict(int)

for text in all_words:
    for word in text.split():
        word_freq[word] += 1

word_freq_df = pd.DataFrame.from_dict(word_freq, orient='index') \
.sort_values(0, ascending=False) \
.rename(columns={0: 'abs_freq'})

word_freq_df.head(5)

            abs_freq
required        8759
work            7980
team            5762
experience      5478
skills          4833

In [14]:
##add metadata to word freq dataframe
word_freq_df['Title'] = 'Top 15'
word_freq_df['Observations'] = df.shape[0]
word_freq_df['Word'] = word_freq_df.index
word_freq_df['Rank'] = word_freq_df.abs_freq.rank(method='dense',ascending=False)
word_freq_df = word_freq_df[word_freq_df['Rank'] <= 25]

In [15]:
word_freq_df.head()

            abs_freq   Title  Observations        Word  Rank
required        8759  Top 15         10228    required   1.0
work            7980  Top 15         10228        work   2.0
team            5762  Top 15         10228        team   3.0
experience      5478  Top 15         10228  experience   4.0
skills          4833  Top 15         10228      skills   5.0

In [19]:
commonWords = word_freq_df.Word.index

## Loop through each Title and build a dataframe, printing the top 25 words for each title

In [20]:
#initialize wfd with the word_freq_df from above steps
wfd = word_freq_df

#loop through each topn_title
for i in topn_titles:
    pTitle = i
    dff = df[df['Title'] == pTitle]
    dff['jd_tokened'] = dff['Description'].apply(clean_text_no_stem)
    print("The shape for job title df:{} is {}".format(pTitle, dff.shape))

    words = []
    words = pd.Series(dff.jd_tokened.iloc[0])
    for j in range(1,dff.shape[0]):
        s = pd.Series(dff.jd_tokened.iloc[j])
        words = words.append(s,ignore_index=True)
           
    word_freq_f = defaultdict(int)
    for text in words:
        for word in text.split():
            word_freq_f[word] += 1
    print(len(word_freq_f))

    word_freq_dff = []
    word_freq_dff = pd.DataFrame.from_dict(word_freq_f, orient='index') \
    .rename(columns={0: 'abs_freq'}) \
    .sort_values('abs_freq', ascending=False)
    print(word_freq_dff.shape)
    
    word_freq_dff = word_freq_dff.head(25)
    word_freq_dff['Title'] = pTitle
    word_freq_dff['Observations'] = dff.shape[0]
    word_freq_dff['Word'] = word_freq_dff.index
    word_freq_dff['Rank'] = word_freq_dff.abs_freq.rank(method='dense',ascending=False)
    wfd = wfd.append(word_freq_dff, ignore_index=True)

C:\Users\johd003\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

The shape for job title df:Administrative Assistant is (1696, 3)
6231
(6231, 1)
The shape for job title df:Project Manager is (1405, 3)
6616
(6616, 1)
The shape for job title df:Assembly Worker is (1035, 3)
3911
(3911, 1)
The shape for job title df:Business/System Analyst is (726, 3)
4389
(4389, 1)
The shape for job title df:Developer is (699, 3)
3285
(3285, 1)
The shape for job title df:Data Entry Operator is (622, 3)
3806
(3806, 1)
The shape for job title df:Systems/Software Engineer is (503, 3)
3902
(3902, 1)
The shape for job title df:IT Analyst is (501, 3)
2762
(2762, 1)
The shape for job title df:Recruiter is (485, 3)
2285
(2285, 1)
The shape for job title df:Graphic Designer is (464, 3)
1355
(1355, 1)
The shape for job title df:Business Analyst is (445, 3)
3405
(3405, 1)
The shape for job title df:Manufacturing Technician is (432, 3)
2705
(2705, 1)
The shape for job title df:Financial Analyst is (411, 3)
3598
(3598, 1)
The shape for job title df:Sales Manager is (403, 3)
1364
(1364, 1)
The shape for job title df:Design Validation Engineer is (401, 3)
976
(976, 1)

In [ ]:
wfd.to_csv(r'C:\Users\johd003\Documents\GitHub\data\req_description_word_freq.csv',index=False)

In [85]:
import string
def lower_rm_punct(text):
    text = "".join([word.lower() for word in text if word not in string.punctuation])
    #text = "".join([word.lower() for word in text if word not in stopWords])
    return text

In [89]:
#https://www2.cs.duke.edu/courses/spring14/compsci290/assignments/lab02.html
from sklearn.feature_extraction.text import TfidfVectorizer
v = TfidfVectorizer(stop_words=stopWords)
Xtr = v.fit_transform(df['Description'].apply(lower_rm_punct))
features = v.get_feature_names()

In [90]:
#https://buhrmann.github.io/tfidf-analysis.html
def top_tfidf_feats(row, features, top_n=10):
    ''' Get top n tfidf values in row and return them with their corresponding feature names.'''
    topn_ids = np.argsort(row)[::-1][:top_n]
    top_feats = [(features[i], row[i]) for i in topn_ids]
    df = pd.DataFrame(top_feats)
    df.columns = ['feature', 'tfidf']
    return df

def top_feats_in_doc(Xtr, features, row_id, top_n=10):
    ''' Top tfidf features in specific document (matrix row) '''
    row = np.squeeze(Xtr[row_id].toarray())
    return top_tfidf_feats(row, features, top_n)

def top_mean_feats(Xtr, features, grp_ids=None, min_tfidf=0.1, top_n=10):
    ''' Return the top n features that on average are most important amongst documents in rows
        indentified by indices in grp_ids. '''
    if grp_ids:
        D = Xtr[grp_ids].toarray()
    else:
        D = Xtr.toarray()

    D[D < min_tfidf] = 0
    tfidf_means = np.mean(D, axis=0)
    return top_tfidf_feats(tfidf_means, features, top_n)

In [95]:
top_feats_in_doc(Xtr, features, row_id=1000, top_n=10)

          feature     tfidf
0             gxp  0.498215
1         program  0.433371
2  infrastructure  0.234505
3         project  0.214151
4         manager  0.198428
5  siteenterprise  0.148927
6       remediate  0.142598
7     overarching  0.142598
8          dotted  0.123802
9  wellstructured  0.120956

In [97]:
def top_mean_feats(Xtr, features, grp_ids=None, min_tfidf=0.1, top_n=10):
    ''' Return the top n features that on average are most important amongst documents in rows
        indentified by indices in grp_ids. '''
    if grp_ids:
        D = Xtr[grp_ids].toarray()
    else:
        D = Xtr.toarray()

    D[D < min_tfidf] = 0
    tfidf_means = np.mean(D, axis=0)
    return top_tfidf_feats(tfidf_means, features, top_n)

In [128]:
tfidf_features_df = top_mean_feats(Xtr, features, top_n = 25)
tfidf_features_df['Title'] = 'Top 15'

In [129]:
#https://www2.cs.duke.edu/courses/spring14/compsci290/assignments/lab02.html
tfidf_features_df = pd.DataFrame()
for i in topn_titles:
    pTitle = i 
    idf = df[df['Title']==pTitle]
    iv = TfidfVectorizer(stop_words=stopWords)
    iXtr = iv.fit_transform(idf['Description'].apply(lower_rm_punct))
    ifeatures = iv.get_feature_names()
    i_tfdf = top_mean_feats(iXtr, ifeatures,top_n=25)
    i_tfdf['Title'] = pTitle
    tfidf_features_df = tfidf_features_df.append(i_tfdf,ignore_index=True)

In [131]:
tfidf_features_df.head()

     feature     tfidf                     Title
0       slot  0.046285  Administrative Assistant
1  temporary  0.045812  Administrative Assistant
2  requiredo  0.032756  Administrative Assistant
3      level  0.032178  Administrative Assistant
4  typically  0.029538  Administrative Assistant

In [132]:
tfidf_features_df.to_csv(r'C:\Users\johd003\Documents\GitHub\data\req_description_tfidf.csv',index=False)